<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>

	<fieldset
		name="global"
		label="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE_DESC">

		<field
			name="method"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_METHOD"
			description="COM_JUPGRADEPRO_CONFIG_METHOD_DESC"
			default="database">
			<option value="database">COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE</option>
			<option	value="rest">COM_JUPGRADEPRO_CONFIG_REST_TITLE</option>
		</field>

		<field
			name="chunk_limit"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_LIMIT"
			description="COM_JUPGRADEPRO_CONFIG_LIMIT_DESC"
			default="10"
		/>

		<field name="keep_ids" type="radio" default="0" label="COM_JUPGRADEPRO_CONFIG_KEEP_IDS" description="COM_JUPGRADEPRO_CONFIG_KEEP_IDS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
		name="rest"
		label="COM_JUPGRADEPRO_CONFIG_REST_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_REST_TITLE_DESC">

		<field
			name="rest_hostname"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_HOSTNAME"
			description="COM_JUPGRADEPRO_CONFIG_HOSTNAME_DESC"
			default="http://www.example.org/"
		/>

		<field
			name="rest_username"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_USERNAME"
			description="COM_JUPGRADEPRO_CONFIG_USERNAME_DESC"
			default=""
		/>

		<field
			name="rest_password"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PASSWORD"
			description="COM_JUPGRADEPRO_CONFIG_PASSWORD_DESC"
			default=""
		/>

		<field
			name="rest_key"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_KEY"
			description="COM_JUPGRADEPRO_CONFIG_KEY_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="database"
		label="COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE_DESC">

		<field name="old_dbtype" type="list" default="mysql" label="Database driver" description="Database driver">
			<option value="mysql">MySQL</option>
			<option value="mysqli">MySQLi</option>
		</field>

		<field
			name="old_hostname"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_HOSTNAME"
			description="COM_JUPGRADEPRO_CONFIG_HOSTNAME_DB_DESC"
			default="localhost"
		/>

		<field
			name="old_username"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_USERNAME"
			description="COM_JUPGRADEPRO_CONFIG_USERNAME_DB_DESC"
			default=""
		/>

		<field
			name="old_password"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PASSWORD"
			description="COM_JUPGRADEPRO_CONFIG_PASSWORD_DB_DESC"
			default=""
		/>

		<field
			name="old_db"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_DATABASE"
			description="COM_JUPGRADEPRO_CONFIG_DATABASE_DB_DESC"
			default=""
		/>

		<field
			name="old_dbprefix"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PREFIX"
			description="COM_JUPGRADEPRO_CONFIG_PREFIX_DESC"
			default="jos_"
		/>

		<field
			name="path"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PATH"
			description="COM_JUPGRADEPRO_CONFIG_PATH_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="skips"
		label="COM_JUPGRADEPRO_CONFIG_SKIPS_TITLE">

		<field name="spacer1" type="spacer" class="text" label="&lt;b&gt;Core skips&lt;/b&gt;" />

		<field name="skip_core_users" type="radio" default="0" label="Skip users" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_categories" type="radio" default="0" label="Skip categories" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_contents" type="radio" default="0" label="Skip contents" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_contents_frontpage" type="radio" default="0" label="Skip contents frontpage" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_menus" type="radio" default="0" label="Skip menus" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_menus_types" type="radio" default="0" label="Skip menus types" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_modules" type="radio" default="0" label="Skip modules" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_modules_menu" type="radio" default="0" label="Skip modules menus" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_banners" type="radio" default="0" label="Skip banners" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_banners_clients" type="radio" default="0" label="Skip banners clients" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_banners_tracks" type="radio" default="0" label="Skip banners tracks" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_contacts" type="radio" default="0" label="Skip contacts" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_newsfeeds" type="radio" default="0" label="Skip newsfeeds" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_weblinks" type="radio" default="0" label="Skip weblinks" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset
		name="templates"
		label="COM_JUPGRADEPRO_CONFIG_TEMPLATE_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_TEMPLATE_TITLE_DESC">

		<field
			name="positions"
			type="radio"
			label="COM_JUPGRADEPRO_CONFIG_POSITIONS"
			description="COM_JUPGRADEPRO_CONFIG_POSITIONS_DESC"
			default="1">
			<option	value="1">JYES</option>
			<option	value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset 
		name="permissions" 
		label="JCONFIG_PERMISSIONS_LABEL" 
		description="JCONFIG_PERMISSIONS_DESC">
		
		<field 
			name="rules" 
			type="rules" 
			label="JCONFIG_PERMISSIONS_LABEL" 
			class="inputbox" 
			filter="rules" 
			component="com_jupgradepro" 
			section="component" />
	</fieldset>

	<fieldset
		name="debug"
		label="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE_DESC">

		<field name="error_reporting"	type="list"	label="COM_JUPGRADEPRO_CONFIG_ERROR_REPORTING"
			description="COM_JUPGRADEPRO_CONFIG_ERROR_REPORTING_DESC" default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

		<field name="debug_check"	type="list"	label="COM_JUPGRADEPRO_CONFIG_DEBUG_CHECK"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_CHECK_DESC" default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

		<field name="debug_step"	type="list"	label="COM_JUPGRADEPRO_CONFIG_DEBUG_STEP"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_STEP_DESC" default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

		<field name="debug_migrate"	type="list"	label="COM_JUPGRADEPRO_CONFIG_DEBUG_MIGRATE"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_MIGRATE_DESC"	default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

	</fieldset>

</config>
