<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>

	<fieldset
		name="global"
		label="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE_DESC">

		<field
			name="method"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_METHOD"
			description="COM_JUPGRADEPRO_CONFIG_METHOD_DESC"
			default="rest">
			<option
				value="database">COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE</option>
			<option
				value="rest">COM_JUPGRADEPRO_CONFIG_REST_TITLE</option>
		</field>

	</fieldset>

	<fieldset
		name="rest"
		label="COM_JUPGRADEPRO_CONFIG_REST_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_REST_TITLE_DESC">

		<field
			name="rest_hostname"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_HOSTNAME"
			description="COM_JUPGRADEPRO_CONFIG_HOSTNAME_DESC"
			default="http://www.example.org/"
		/>

		<field
			name="rest_username"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_USERNAME"
			description="COM_JUPGRADEPRO_CONFIG_USERNAME_DESC"
			default=""
		/>

		<field
			name="rest_password"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PASSWORD"
			description="COM_JUPGRADEPRO_CONFIG_PASSWORD_DESC"
			default=""
		/>

		<field
			name="rest_key"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_KEY"
			description="COM_JUPGRADEPRO_CONFIG_KEY_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="database"
		label="COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE_DESC">

		<field
			name="path"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PATH"
			description="COM_JUPGRADEPRO_CONFIG_PATH_DESC"
			default=""
		/>

		<field name="driver" type="list" default="mysql" label="Database driver" description="Database driver">
			<option value="mysql">MySQL</option>
			<option value="mysqli">MySQLi</option>
		</field>

		<field
			name="hostname"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_HOSTNAME"
			description="COM_JUPGRADEPRO_CONFIG_HOSTNAME_DB_DESC"
			default="localhost"
		/>

		<field
			name="username"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_USERNAME"
			description="COM_JUPGRADEPRO_CONFIG_USERNAME_DB_DESC"
			default=""
		/>

		<field
			name="password"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PASSWORD"
			description="COM_JUPGRADEPRO_CONFIG_PASSWORD_DB_DESC"
			default=""
		/>

		<field
			name="database"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_DATABASE"
			description="COM_JUPGRADEPRO_CONFIG_DATABASE_DB_DESC"
			default=""
		/>

		<field
			name="prefix"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PREFIX"
			description="COM_JUPGRADEPRO_CONFIG_PREFIX_DESC"
			default="jos_"
		/>

	</fieldset>

	<fieldset
		name="skips"
		label="COM_JUPGRADEPRO_CONFIG_SKIPS_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_SKIPS_TITLE_DESC">

		<field name="skip_checks" type="radio" default="0" label="Skip checks" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_files" type="radio" default="1" label="Skip images/media migration" description="" disable="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_templates" type="radio" default="1" label="Skip templates migration" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_extensions" type="radio" default="1" label="Skip 3rd extensions" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="spacer1" type="spacer" class="text" label="&lt;b&gt;Core skips&lt;/b&gt;" />

		<field name="skip_core_users" type="radio" default="0" label="Skip users" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_categories" type="radio" default="0" label="Skip categories" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_sections" type="radio" default="0" label="Skip sections" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_contents" type="radio" default="0" label="Skip contents" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_contents_frontpage" type="radio" default="0" label="Skip contents frontpage" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_menus" type="radio" default="0" label="Skip menus" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_menus_types" type="radio" default="0" label="Skip menus types" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_modules" type="radio" default="0" label="Skip modules" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_modules_menu" type="radio" default="0" label="Skip modules menus" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_banners" type="radio" default="0" label="Skip banners" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_banners_clients" type="radio" default="0" label="Skip banners clients" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_banners_tracks" type="radio" default="0" label="Skip banners tracks" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_contacts" type="radio" default="0" label="Skip contacts" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_newsfeeds" type="radio" default="0" label="Skip newsfeeds" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="skip_core_weblinks" type="radio" default="0" label="Skip weblinks" description="">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset
		name="templates"
		label="COM_JUPGRADEPRO_CONFIG_TEMPLATE_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_TEMPLATE_TITLE_DESC">

		<field
			name="positions"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_POSITIONS"
			description="COM_JUPGRADEPRO_CONFIG_POSITIONS_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
		name="debug"
		label="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE_DESC">

		<field
			name="debug"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_DEBUG"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

	</fieldset>

</config>
