<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>

	<fieldset
		name="global"
		label="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE_DESC">

		<field
			name="method"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_METHOD"
			description="COM_JUPGRADEPRO_CONFIG_METHOD_DESC"
			default="0">
			<option
				value="database">Database - Getting the items from database</option>
			<option
				value="rest">WebService REST - Getting all items at same time (more faster)</option>
			<option
				value="rest_individual">WebService REST - Getting individual items (better for large databases)</option>
		</field>

		<field
			name="path"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PATH"
			description="COM_JUPGRADEPRO_CONFIG_PATH_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="rest"
		label="COM_JUPGRADEPRO_CONFIG_REST_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_REST_TITLE_DESC">

		<field
			name="rest_hostname"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_HOSTNAME"
			description="COM_JUPGRADEPRO_CONFIG_HOSTNAME_DESC"
			default="http://www.example.org/"
		/>

		<field
			name="rest_username"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_USERNAME"
			description="COM_JUPGRADEPRO_CONFIG_USERNAME_DESC"
			default=""
		/>

		<field
			name="rest_password"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PASSWORD"
			description="COM_JUPGRADEPRO_CONFIG_PASSWORD_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="database"
		label="COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DATABASE_TITLE_DESC">

		<field
			name="hostname"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_HOSTNAME"
			description="COM_JUPGRADEPRO_CONFIG_HOSTNAME_DESC"
			default="localhost"
		/>

		<field
			name="username"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_USERNAME"
			description="COM_JUPGRADEPRO_CONFIG_USERNAME_DESC"
			default=""
		/>

		<field
			name="password"
			type="password"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PASSWORD"
			description="COM_JUPGRADEPRO_CONFIG_PASSWORD_DESC"
			default=""
		/>

		<field
			name="database"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_DATABASE"
			description="COM_JUPGRADEPRO_CONFIG_DATABASE_DESC"
			default=""
		/>

		<field
			name="prefix"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_PREFIX"
			description="COM_JUPGRADEPRO_CONFIG_PREFIX_DESC"
			default="jos_"
		/>

		<field
			name="limit"
			type="text"
			size="60"
			label="COM_JUPGRADEPRO_CONFIG_LIMIT"
			description="COM_JUPGRADEPRO_CONFIG_LIMIT_DESC"
			default="10000"
		/>

	</fieldset>


	<fieldset
		name="templates"
		label="COM_JUPGRADEPRO_CONFIG_TEMPLATE_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_TEMPLATE_TITLE_DESC">

		<field
			name="skip_templates"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_TEMPLATE"
			description="COM_JUPGRADEPRO_CONFIG_TEMPLATE_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="positions"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_POSITIONS"
			description="COM_JUPGRADEPRO_CONFIG_POSITIONS_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
		name="skips"
		label="COM_JUPGRADEPRO_CONFIG_SKIPS_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_SKIPS_TITLE_DESC">

		<field
			name="skip_checks"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_SKIP_CHECKS"
			description="COM_JUPGRADEPRO_CONFIG_SKIP_CHECKS_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="skip_extensions"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_SKIP_EXTENSIONS"
			description="COM_JUPGRADEPRO_CONFIG_SKIP_EXTENSIONS_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
		name="debug"
		label="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE_DESC">

		<field
			name="debug"
			type="list"
			label="COM_JUPGRADEPRO_CONFIG_DEBUG"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

	</fieldset>

</config>
