<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>

	<fieldset
		name="global"
		label="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_GLOBAL_TITLE_DESC">

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_jupgradepro"
			section="component" />
	</fieldset>

	<fieldset
		name="debug"
		label="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE"
		description="COM_JUPGRADEPRO_CONFIG_DEBUG_TITLE_DESC">

		<field name="error_reporting"	type="list"	label="COM_JUPGRADEPRO_CONFIG_ERROR_REPORTING"
			description="COM_JUPGRADEPRO_CONFIG_ERROR_REPORTING_DESC" default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

		<field name="debug_check"	type="list"	label="COM_JUPGRADEPRO_CONFIG_DEBUG_CHECK"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_CHECK_DESC" default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

		<field name="debug_step"	type="list"	label="COM_JUPGRADEPRO_CONFIG_DEBUG_STEP"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_STEP_DESC" default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

		<field name="debug_migrate"	type="list"	label="COM_JUPGRADEPRO_CONFIG_DEBUG_MIGRATE"
			description="COM_JUPGRADEPRO_CONFIG_DEBUG_MIGRATE_DESC"	default="0">
				<option
				value="0">JNO</option>
				<option
				value="1">JYES</option>
		</field>

	</fieldset>

</config>
